@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import "tailwindcss";

:root {
  background-color: rgba(0, 0, 0, 0.04);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.pizza-text {
  font-family: 'Caveat', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
